<a href="https://colab.research.google.com/github/KenyanGeek/Retail-Data-Science-and-Machine-Learning/blob/master/7d_Earnings_Predictions_Fast_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting 7D Earnings using Tabular Data

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [3]:
import io


df = pd.read_csv(io.BytesIO(uploaded['data.csv']))

df

,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner,weekend,electionyear,profitable,kenyaholiday
0,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM,False,False,True,notholiday
1,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM,False,False,True,notholiday
2,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM,False,False,True,notholiday
3,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM,False,False,True,notholiday
4,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM,False,False,True,notholiday
5,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER,BOM,True,False,True,notholiday
6,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER,BOM,False,False,True,notholiday
7,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER,MOM,False,False,True,notholiday
8,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER,MOM,False,False,True,notholiday
9,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER,MOM,False,False,True,notholiday
10,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER,MOM,True,False,True,notholiday
11,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER,EOM,False,False,True,notholiday
12,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER,EOM,False,False,True,notholiday
13,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER,EOM,True,False,True,notholiday
14,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER,EOM,True,False,True,notholiday
15,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER,EOM,False,False,True,notholiday
16,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER,EOM,False,False,True,notholiday
17,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER,BOM,False,False,True,notholiday
18,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER,BOM,True,False,True,notholiday
19,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER,BOM,False,False,True,notholiday
20,Wednesday,2015-10-07,1300,50,0,1250,2015,10,7,3RD QUARTER,BOM,False,False,True,notholiday
21,Thursday,2015-10-08,1180,180,0,1000,2015,10,8,3RD QUARTER,BOM,False,False,True,notholiday
22,Friday,2015-10-09,1000,0,0,1000,2015,10,9,3RD QUARTER,BOM,False,False,True,notholiday
23,Saturday,2015-10-10,1050,0,0,1050,2015,10,10,3RD QUARTER,BOM,True,False,True,notholiday
24,Sunday,2015-10-11,750,0,0,750,2015,10,11,3RD QUARTER,BOM,True,False,True,notholiday
25,Monday,2015-10-12,1550,50,0,1500,2015,10,12,3RD QUARTER,BOM,False,False,True,notholiday
26,Tuesday,2015-10-13,1830,230,0,1600,2015,10,13,3RD QUARTER,BOM,False,False,True,notholiday
27,Wednesday,2015-10-14,1100,0,0,1100,2015,10,14,3RD QUARTER,BOM,False,False,True,notholiday
28,Thursday,2015-10-15,1320,620,0,700,2015,10,15,3RD QUARTER,MOM,False,False,True,notholiday
29,Friday,2015-10-16,1200,500,0,700,2015,10,16,3RD QUARTER,MOM,False,False,True,notholiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,Wednesday,2019-02-13,1200,100,100,1000,2019,2,13,1ST QUARTER,BOM,False,False,True,notholiday
1042,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER,BOM,False,False,True,notholiday
1043,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER,MOM,False,False,True,notholiday
1044,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER,MOM,True,False,True,notholiday
1045,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER,MOM,True,False,True,notholiday
1046,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER,MOM,False,False,True,notholiday
1047,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER,MOM,False,False,True,notholiday
1048,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER,MOM,False,False,True,notholiday
1049,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER,EOM,False,False,True,notholiday
1050,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER,EOM,False,False,True,notholiday
1051,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER,EOM,True,False,True,notholiday
1052,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER,EOM,False,False,True,notholiday
1053,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER,EOM,False,False,True,notholiday
1054,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER,EOM,False,False,True,notholiday
1055,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER,EOM,False,False,True,notholiday
1056,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER,BOM,False,False,True,notholiday
1057,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER,BOM,True,False,True,notholiday
1058,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER,BOM,True,False,True,notholiday
1059,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER,BOM,False,False,True,notholiday
1060,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER,BOM,False,False,True,notholiday
1061,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER,BOM,False,False,True,notholiday
1062,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER,BOM,False,False,True,notholiday
1063,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER,BOM,False,False,True,notholiday
1064,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER,BOM,True,False,True,notholiday
1065,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER,BOM,True,False,True,notholiday
1066,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER,BOM,False,False,True,notholiday
1067,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER,BOM,False,False,True,notholiday
1068,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER,BOM,False,False,True,notholiday
1069,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER,BOM,False,False,True,notholiday
1070,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER,MOM,False,False,True,notholiday

In [0]:
dep_var = 'netprofit'
cat_names = ['day', 'date', 'year']
cont_names = ['grossprofit']
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[1060:1071].copy(), cat_names=cat_names, cont_names=cont_names)

In [39]:
data = (TabularList.from_df(df, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(859, 1059)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

/usr/local/lib/python3.6/dist-packages/fastai/data_block.py:525: UserWarning: You are labelling your items with CategoryList.
Your valid set contained the following unknown labels, the corresponding items have been discarded.
3300, 3150
  if getattr(ds, 'warn', False): warn(ds.warn)

In [40]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [42]:
learn.fit(50, 1e-2)

## Inference

In [0]:
row = df.iloc[1063]

In [45]:
df.iloc[1063]

day                  Friday
date             2019-03-08
netprofit              1500
expense                 500
bonus                   100
grossprofit             900
year                   2019
month                     3
daynumber                 8
yearquarter     1ST QUARTER
monthcorner             BOM
weekend               False
electionyear          False
profitable             True
kenyaholiday     notholiday
Name: 1063, dtype: object

In [46]:
learn.predict(row)

(Category 1500,
 tensor(30),
 tensor([6.3341e-09, 5.2570e-10, 4.6395e-07, 4.6558e-09, 3.9253e-08, 7.7262e-08,
         8.9816e-09, 1.1482e-07, 8.2280e-11, 2.7137e-08, 2.3484e-09, 1.2263e-06,
         8.7556e-09, 1.4458e-06, 2.6192e-06, 1.3166e-07, 6.7249e-09, 2.0846e-06,
         2.3755e-06, 1.9054e-09, 7.9424e-09, 3.7169e-09, 4.3718e-09, 2.3842e-09,
         2.1745e-07, 4.8131e-07, 4.6852e-09, 2.6169e-06, 1.1497e-06, 1.0702e-07,
         9.9997e-01, 5.6551e-07, 9.7109e-10, 8.9335e-06, 8.3187e-10, 4.2918e-07,
         1.9041e-08, 1.2412e-07, 4.4072e-09, 1.2479e-06, 1.8812e-07, 4.6984e-09,
         1.4706e-06, 3.6406e-09, 2.1877e-08, 1.1985e-06, 2.9117e-10, 1.4246e-08,
         2.0562e-09, 1.4460e-08, 1.0868e-06, 1.8223e-09, 4.4874e-07, 2.5569e-08,
         2.1716e-07, 4.2169e-08, 4.6012e-08, 1.1955e-09, 1.3704e-08, 3.6223e-09,
         5.1072e-08, 1.4930e-06, 3.6066e-09, 3.4129e-08, 4.9813e-09, 3.0263e-07,
         9.4384e-08, 7.1650e-08, 1.6226e-08, 2.0958e-09, 3.5976e-08, 1.4998e-08,
         2.0406e-08, 1.2593e-07, 1.6375e-07, 1.7717e-07, 1.1599e-09, 4.0864e-09,
         3.1866e-09, 5.0280e-08, 6.8336e-08, 9.3868e-10, 1.8073e-08, 1.3033e-07,
         5.4846e-09, 9.2128e-09, 3.9591e-09]))

# here i am able to predict what i'll earn with 30% accuracy