<a href="https://colab.research.google.com/github/KenyanGeek/Retail-Data-Science-and-Machine-Learning/blob/master/7d_Earnings_Predictions_Fast_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Predicting 7D Earnings using Tabular Data

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [7]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data (1).csv

In [8]:
import io


df = pd.read_csv(io.BytesIO(uploaded['data.csv']))

df

            day        date  netprofit  ...  electionyear  profitable  kenyaholiday
0        Monday    9/7/2015       2050  ...         False        True    notholiday
1       Tuesday    9/8/2015       1750  ...         False        True    notholiday
2     Wednesday    9/9/2015        700  ...         False        True    notholiday
3      Thursday   9/10/2015       1100  ...         False        True    notholiday
4        Friday   9/11/2015       1100  ...         False        True    notholiday
5      Saturday   9/12/2015        750  ...         False        True    notholiday
6        Monday   9/14/2015       1250  ...         False        True    notholiday
7       Tuesday   9/15/2015       2150  ...         False        True    notholiday
8     Wednesday   9/16/2015       1700  ...         False        True    notholiday
9        Friday   9/18/2015       1550  ...         False        True    notholiday
10       Sunday   9/20/2015        950  ...         False        True    notholiday
11    Wednesday   9/23/2015       1000  ...         False        True    notholiday
12       Friday   9/25/2015        850  ...         False        True    notholiday
13     Saturday   9/26/2015       1380  ...         False        True    notholiday
14       Sunday   9/27/2015        950  ...         False        True    notholiday
15       Monday   9/28/2015       1765  ...         False        True    notholiday
16    Wednesday   9/30/2015       1550  ...         False        True    notholiday
17       Friday   10/2/2015       1000  ...         False        True    notholiday
18       Sunday   10/4/2015        900  ...         False        True    notholiday
19       Monday   10/5/2015       2700  ...         False        True    notholiday
20    Wednesday   10/7/2015       1300  ...         False        True    notholiday
21     Thursday   10/8/2015       1180  ...         False        True    notholiday
22       Friday   10/9/2015       1000  ...         False        True    notholiday
23     Saturday  10/10/2015       1050  ...         False        True    notholiday
24       Sunday  10/11/2015        750  ...         False        True    notholiday
25       Monday  10/12/2015       1550  ...         False        True    notholiday
26      Tuesday  10/13/2015       1830  ...         False        True    notholiday
27    Wednesday  10/14/2015       1100  ...         False        True    notholiday
28     Thursday  10/15/2015       1320  ...         False        True    notholiday
29       Friday  10/16/2015       1200  ...         False        True    notholiday
...         ...         ...        ...  ...           ...         ...           ...
1041  Wednesday   2/13/2019       1200  ...         False        True    notholiday
1042   Thursday   2/14/2019       1200  ...         False        True    notholiday
1043     Friday   2/15/2019       1100  ...         False        True    notholiday
1044   Saturday   2/16/2019       1250  ...         False        True    notholiday
1045     Sunday   2/17/2019       1250  ...         False        True    notholiday
1046     Monday   2/18/2019       1300  ...         False        True    notholiday
1047    Tuesday   2/19/2019       1200  ...         False        True    notholiday
1048  Wednesday   2/20/2019       1950  ...         False        True    notholiday
1049   Thursday   2/21/2019       1100  ...         False        True    notholiday
1050     Friday   2/22/2019       1250  ...         False        True    notholiday
1051     Sunday   2/24/2019       1250  ...         False        True    notholiday
1052     Monday   2/25/2019       1100  ...         False        True    notholiday
1053    Tuesday   2/26/2019       1400  ...         False        True    notholiday
1054  Wednesday   2/27/2019        800  ...         False        True    notholiday
1055   Thursday   2/28/2019       1200  ...         False        True    notholiday
1056     Friday    3/1/2019       1100  ...         False        True    notholiday
1057   Saturday    3/2/2019       1400  ...         False        True    notholiday
1058     Sunday    3/3/2019       1300  ...         False        True    notholiday
1059     Monday    3/4/2019       1200  ...         False        True    notholiday
1060    Tuesday    3/5/2019       1450  ...         False        True    notholiday
1061  Wednesday    3/6/2019       1250  ...         False        True    notholiday
1062   Thursday    3/7/2019       1100  ...         False        True    notholiday
1063     Friday    3/8/2019       1500  ...         False        True    notholiday
1064   Saturday    3/9/2019       1350  ...         False        True    notholiday
1065     Sunday   3/10/2019       1250  ...         False        True    notholiday
1066     Monday   3/11/2019       1300  ...         False        True    notholiday
1067    Tuesday   3/12/2019       1650  ...         False        True    notholiday
1068  Wednesday   3/13/2019       1400  ...         False        True    notholiday
1069   Thursday   3/14/2019       1250  ...         False        True    notholiday
1070     Friday   3/15/2019       1000  ...         False        True    notholiday

[1071 rows x 15 columns]

In [20]:
from google.colab import files
uploaded = files.upload()

Saving data2.csv to data2 (2).csv

In [21]:
import io


md = pd.read_csv(io.BytesIO(uploaded['data2.csv']))

md

      day      date  netprofit  ...  electionyear  profitable  kenyaholiday
0  Monday  9/7/2022          0  ...          True        True    notholiday

[1 rows x 15 columns]

In [0]:
dep_var = 'netprofit'
cat_names = ['day', 'date', 'year']
cont_names = ['grossprofit']
procs = [FillMissing, Categorify, Normalize]

In [0]:
test = TabularList.from_df(df.iloc[1060:1071].copy(), cat_names=cat_names, cont_names=cont_names)

In [13]:
data = (TabularList.from_df(df, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(859, 1059)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

/usr/local/lib/python3.6/dist-packages/fastai/data_block.py:525: UserWarning: You are labelling your items with CategoryList.
Your valid set contained the following unknown labels, the corresponding items have been discarded.
3150, 3300
  if getattr(ds, 'warn', False): warn(ds.warn)

In [14]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [16]:
learn.fit(50, 1e-2)

## Inference

In [0]:
row = md.iloc[0]

In [23]:
md.iloc[0]

day                  Monday
date               9/7/2022
netprofit                 0
expense                 100
bonus                     0
grossprofit               0
year                   2020
month                     1
daynumber                 7
yearquarter     3RD QUARTER
monthcorner             MOM
weekend               False
electionyear           True
profitable             True
kenyaholiday     notholiday
Name: 0, dtype: object

In [24]:
learn.predict(row)

(Category 800,
 tensor(5),
 tensor([7.1674e-11, 1.7343e-03, 1.4369e-06, 1.4190e-04, 1.6594e-04, 9.9715e-01,
         1.2899e-04, 6.2033e-07, 5.9510e-04, 5.5372e-08, 3.4678e-06, 2.3750e-08,
         1.6473e-08, 1.0253e-09, 4.9781e-13, 1.3341e-13, 3.7144e-08, 6.8472e-11,
         1.5757e-12, 2.6454e-11, 1.1127e-10, 7.5151e-05, 1.5026e-12, 4.2606e-10,
         1.1453e-12, 1.2970e-07, 5.6811e-11, 8.7145e-12, 7.8700e-12, 9.0313e-09,
         1.3884e-14, 5.4649e-12, 1.9710e-09, 1.0346e-12, 1.4806e-10, 7.5443e-14,
         2.5469e-11, 9.7120e-14, 5.4574e-09, 5.4801e-13, 1.1495e-09, 4.5268e-09,
         2.9192e-12, 1.6992e-10, 1.1121e-11, 3.9345e-11, 3.1362e-11, 2.5628e-10,
         7.4822e-11, 2.2530e-11, 3.2370e-12, 1.0159e-10, 2.7953e-11, 8.0693e-12,
         7.5518e-11, 5.4249e-10, 8.2595e-11, 4.9497e-11, 2.4190e-10, 4.7597e-08,
         3.3297e-09, 1.6794e-09, 6.4324e-08, 1.7389e-09, 2.9506e-10, 1.5765e-09,
         7.0016e-09, 2.1865e-07, 1.4096e-10, 2.0482e-09, 8.5888e-09, 1.4745e-07,
         2.2825e-09, 2.4794e-07, 5.8062e-08, 5.5701e-08, 2.1153e-08, 9.9462e-11,
         1.2312e-07, 7.3276e-08, 8.4948e-08, 1.4283e-08, 1.4949e-07, 7.1619e-07,
         2.5120e-08, 3.2091e-07, 3.7673e-08]))

# here i am able to predict what i'll earn with 30% accuracy