<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#INTRODUCTION" data-toc-modified-id="INTRODUCTION-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>INTRODUCTION</a></span><ul class="toc-item"><li><span><a href="#BACKGROUND" data-toc-modified-id="BACKGROUND-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>BACKGROUND</a></span></li><li><span><a href="#OBJECTIVES" data-toc-modified-id="OBJECTIVES-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>OBJECTIVES</a></span></li><li><span><a href="#METHODOLOGY" data-toc-modified-id="METHODOLOGY-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>METHODOLOGY</a></span></li><li><span><a href="#LIBRARIES" data-toc-modified-id="LIBRARIES-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>LIBRARIES</a></span></li></ul></li><li><span><a href="#COMBINE-EXCEL-DATA-SHEETS" data-toc-modified-id="COMBINE-EXCEL-DATA-SHEETS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>COMBINE EXCEL DATA SHEETS</a></span><ul class="toc-item"><li><span><a href="#Importing-necessary-libraries" data-toc-modified-id="Importing-necessary-libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Importing necessary libraries</a></span></li><li><span><a href="#Combining-the-sheets" data-toc-modified-id="Combining-the-sheets-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Combining the sheets</a></span></li></ul></li><li><span><a href="#IMPORT-DATA-TO-PYTHON" data-toc-modified-id="IMPORT-DATA-TO-PYTHON-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>IMPORT DATA TO PYTHON</a></span><ul class="toc-item"><li><span><a href="#Importing-Data-from-an-Excel-sheet" data-toc-modified-id="Importing-Data-from-an-Excel-sheet-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Importing Data from an Excel sheet</a></span></li><li><span><a href="#Data-Engineering" data-toc-modified-id="Data-Engineering-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Data Engineering</a></span><ul class="toc-item"><li><span><a href="#Replace-Header-with-Top-Row" data-toc-modified-id="Replace-Header-with-Top-Row-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Replace Header with Top Row</a></span></li><li><span><a href="#Investigating-our-Dataset" data-toc-modified-id="Investigating-our-Dataset-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Investigating our Dataset</a></span></li></ul></li></ul></li></ul></div>

# INTRODUCTION

## BACKGROUND

I started the Nikon 7D business in 2014 in an upcountry town of Kenya. I purposed to keep daily retail sales data for the past five years until i sold it in March 2019 for a hefty profit. In this notebook; I use this real life retail data to see how my business had being doing and utilize open source data science tools to understand retail dynamics. Further am interested in applying machine learning models to make predictions from the collected data. Why? Just for fun - but anybody can follow this workflow to analyse their business and make useful predictions.

## OBJECTIVES

1. Understand how much money i made for the whole period, what was the expenses and gross profit
2. Understand how much money i was making averagely every year, quarter, month, week, day
3. Which day of the week was i making the most money -- (so that if i was still running the business i would know when to increase resources) 
3. Which day of the week was i making the least money -- (so that if i was still running the business i would know when to reduce resource expenses)
4. Which Month did i make the most money -- increase resources for delivery
5. Which Month made the least money -- (so that if i was still running the business i would know when increase marketing)
6. Remove 2019 data and do predictions with different models Fast.ai, Pytorch and Prophet and compare the efficability of the various models

## METHODOLOGY

1. Data import from excel
    1. Combine all the sheets using excel or python scripts - Done with python and VB Macros
    2. Import that data using pandas excel functions
2. Data preparation and Munging
    1. Make more variabes from the available data using python
    2. Preliminary visualization of the data to help eliminate outliers
3. Data Visualization
4. Data Analysis to answer above questions
5. Machine learning for prediction of Tabular data using Fast.ai
6. Machine learning for prediction of Tabular data using Prophet
7. Machine learning for prediction of Tabular data using Pytorch
8. Machine learning for prediction of Tabular data using XGBOOST
8. Comparison of the best machine learning model

## LIBRARIES

I will use the following libraries and open source softwares:
* General Open source Distributions for Data Science
  - Ananconda Distribution
  - Python
* Python Data Analysis Libraries
  - Pandas
* Python Visualization Libraries
  - Matplotlib
  - Seaborn
* Python Machine Learning Libraries
  - Scikit Learn
  - XGBOOST Algorithms
  - Prophet
  - Fast.ai
  - Pytorch

# COMBINE EXCEL DATA SHEETS

I have 43 excel sheets in one workbook representing the 43 months i had collected data for the business, so in this section i will collate the 43 different sheets in an excel workbook to one file which i can then work with.

## Importing necessary libraries

In [1]:
# Here i will import the following libraries 

#pandas — (Python for Data Analysis Library) — has libraries that help you carry out data analysis
#numpy — (A library for playing around with numbers in Python)
#os — helps you dip your hands into the operating system of whatever computer you are using
#collections — are containers that are used to store collections of data
#csv — library that reads and writes tabular data in CSV format.
#basename — function found in the path method of the os library that extracts the base name or directory name conveniently

from __future__ import print_function, division

import pandas as pd 
import numpy as np
import os, collections, csv
from os.path  import basename

## Combining the sheets

In [2]:
# next create an empty dictionary with a variable name df
# initialize f which is a variable that is assigned the name of the original workbook with the many sheets that you want to combine
# store a variable numberOfSheets with the sheets you want to combine 
df = []


f = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/income.xlsx"
numberOfSheets = 43

#you can use VBScripts to rename your excel sheets to have consistent names

for i in range(1,numberOfSheets+1):    
     data = pd.read_excel(f, sheet_name = 'month'+str(i), header=None) 
     df.append(data)
    
#remember python is very strict on how you arrange your forward and back slashes so be aware of this: i am using windows here and hence the forward slashes

#determine the path where the final compiled file will go

final = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx"

# I then use the .concat() function from pandas to join/concatenate the sheets together into one

df = pd.concat(df)

# I finally write the final combined excel sheet to the path i had defined in final!

df.to_excel(final)

# IMPORT DATA TO PYTHON

## Importing Data from an Excel sheet

In [3]:
# I will save the path to my file as a python variable:
# Confirm that the file location has been saved


mydata ='C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

mydata

'C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

In [13]:
# I will then use pandas method .readexcel to read the data and convert it to a dataframe
# I will then check the contents of my dataframe by calling the df variable


df = pd.read_excel( mydata , sheet_name='Sheet1')


df

            0                    1          2        3       4            5
0         day                 date  netprofit  expense  bonus   grossprofit
1      Monday  2015-09-07 00:00:00       2050      100       0         1950
2     Tuesday  2015-09-08 00:00:00       1750       50       0         1700
3   Wednesday  2015-09-09 00:00:00        700        0       0          700
4    Thursday  2015-09-10 00:00:00       1100        0       0         1100
5      Friday  2015-09-11 00:00:00       1100        0       0         1100
6    Saturday  2015-09-12 00:00:00        750        0       0          750
7      Sunday  2015-09-13 00:00:00       4600      200       0         4400
8      Monday  2015-09-14 00:00:00       1250       50       0         1200
9     Tuesday  2015-09-15 00:00:00       2150      100       0         2050
10  Wednesday  2015-09-16 00:00:00       1700      500       0         1200
11   Thursday  2015-09-17 00:00:00       4900      300       0         4600
12     Friday  2015-09-18 00:00:00       1550       50       0         1500
13   Saturday  2015-09-19 00:00:00        200        0       0          200
14     Sunday  2015-09-20 00:00:00        950      100       0          850
15     Monday  2015-09-21 00:00:00        600        0       0          600
16    Tuesday  2015-09-22 00:00:00        550        0       0          550
17  Wednesday  2015-09-23 00:00:00       1000        0       0         1000
18   Thursday  2015-09-24 00:00:00        400        0       0          400
19     Friday  2015-09-25 00:00:00        850        0       0          850
20   Saturday  2015-09-26 00:00:00       1380      280       0         1100
21     Sunday  2015-09-27 00:00:00        950      100       0          850
22     Monday  2015-09-28 00:00:00       1765      265       0         1500
23    Tuesday  2015-09-29 00:00:00        600        0       0          600
24  Wednesday  2015-09-30 00:00:00       1550       50       0         1500
25   Thursday  2015-10-01 00:00:00        600        0       0          600
26     Friday  2015-10-02 00:00:00       1000        0       0         1000
27   Saturday  2015-10-03 00:00:00        600        0       0          600
28     Sunday  2015-10-04 00:00:00        900        0       0          900
29     Monday  2015-10-05 00:00:00       2700      100       0         2600
..        ...                  ...        ...      ...     ...          ...
7    Thursday  2019-02-14 00:00:00       1200        0     100         1100
8      Friday  2019-02-15 00:00:00       1100        0     100         1000
9    Saturday  2019-02-16 00:00:00       1250        0     100         1150
10     Sunday  2019-02-17 00:00:00       1250       50     100         1100
11     Monday  2019-02-18 00:00:00       1300        0     100         1200
12    Tuesday  2019-02-19 00:00:00       1200       50     100         1050
13  Wednesday  2019-02-20 00:00:00       1950      450     100         1400
14   Thursday  2019-02-21 00:00:00       1100        0     100         1000
15     Friday  2019-02-22 00:00:00       1250        0     100         1150
16   Saturday  2019-02-23 00:00:00       5900      600     400         4900
17     Sunday  2019-02-24 00:00:00       1250        0     100         1150
18     Monday  2019-02-25 00:00:00       1100        0     100         1000
19    Tuesday  2019-02-26 00:00:00       1400        0     100         1300
20  Wednesday  2019-02-27 00:00:00        800        0     100          700
21   Thursday  2019-02-28 00:00:00       1200        0     100         1100
22     Friday  2019-03-01 00:00:00       1100        0     100         1000
23   Saturday  2019-03-02 00:00:00       1400        0     100         1300
24     Sunday  2019-03-03 00:00:00       1300       50     100         1150
25     Monday  2019-03-04 00:00:00       1200      100     100         1000
26    Tuesday  2019-03-05 00:00:00       1450       50     100         1300
27  Wednesday  2019-03-06 00:00:00       1250      150     100         1000
0    Thursday  2019-03-07 00:00:00       1100        0     100         1000
1      Friday  2019-03-08 00:00:00       1500      500     100          900
2    Saturday  2019-03-09 00:00:00       1350      200     100         1050
3      Sunday  2019-03-10 00:00:00       1250        0     100         1150
4      Monday  2019-03-11 00:00:00       1300       50     100         1150
5     Tuesday  2019-03-12 00:00:00       1650       50     150         1450
6   Wednesday  2019-03-13 00:00:00       1400      600     100          700
7    Thursday  2019-03-14 00:00:00       1250        0     100         1150
8      Friday  2019-03-15 00:00:00       1000        0     100          900

[1288 rows x 6 columns]

## Data Engineering

### Replace Header with Top Row

When we look at our dataframe above the column names do not seem inorder. the following steps will ensure the first row is the column name

In [17]:
header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = header #set the header row as the df header

In [18]:
df # now lets check how our table looks; it looks great now!

0         day                 date netprofit expense bonus  grossprofit
1      Monday  2015-09-07 00:00:00      2050     100      0        1950
2     Tuesday  2015-09-08 00:00:00      1750      50      0        1700
3   Wednesday  2015-09-09 00:00:00       700       0      0         700
4    Thursday  2015-09-10 00:00:00      1100       0      0        1100
5      Friday  2015-09-11 00:00:00      1100       0      0        1100
6    Saturday  2015-09-12 00:00:00       750       0      0         750
7      Sunday  2015-09-13 00:00:00      4600     200      0        4400
8      Monday  2015-09-14 00:00:00      1250      50      0        1200
9     Tuesday  2015-09-15 00:00:00      2150     100      0        2050
10  Wednesday  2015-09-16 00:00:00      1700     500      0        1200
11   Thursday  2015-09-17 00:00:00      4900     300      0        4600
12     Friday  2015-09-18 00:00:00      1550      50      0        1500
13   Saturday  2015-09-19 00:00:00       200       0      0         200
14     Sunday  2015-09-20 00:00:00       950     100      0         850
15     Monday  2015-09-21 00:00:00       600       0      0         600
16    Tuesday  2015-09-22 00:00:00       550       0      0         550
17  Wednesday  2015-09-23 00:00:00      1000       0      0        1000
18   Thursday  2015-09-24 00:00:00       400       0      0         400
19     Friday  2015-09-25 00:00:00       850       0      0         850
20   Saturday  2015-09-26 00:00:00      1380     280      0        1100
21     Sunday  2015-09-27 00:00:00       950     100      0         850
22     Monday  2015-09-28 00:00:00      1765     265      0        1500
23    Tuesday  2015-09-29 00:00:00       600       0      0         600
24  Wednesday  2015-09-30 00:00:00      1550      50      0        1500
25   Thursday  2015-10-01 00:00:00       600       0      0         600
26     Friday  2015-10-02 00:00:00      1000       0      0        1000
27   Saturday  2015-10-03 00:00:00       600       0      0         600
28     Sunday  2015-10-04 00:00:00       900       0      0         900
29     Monday  2015-10-05 00:00:00      2700     100      0        2600
30    Tuesday  2015-10-06 00:00:00       300       0      0         300
..        ...                  ...       ...     ...    ...         ...
7    Thursday  2019-02-14 00:00:00      1200       0    100        1100
8      Friday  2019-02-15 00:00:00      1100       0    100        1000
9    Saturday  2019-02-16 00:00:00      1250       0    100        1150
10     Sunday  2019-02-17 00:00:00      1250      50    100        1100
11     Monday  2019-02-18 00:00:00      1300       0    100        1200
12    Tuesday  2019-02-19 00:00:00      1200      50    100        1050
13  Wednesday  2019-02-20 00:00:00      1950     450    100        1400
14   Thursday  2019-02-21 00:00:00      1100       0    100        1000
15     Friday  2019-02-22 00:00:00      1250       0    100        1150
16   Saturday  2019-02-23 00:00:00      5900     600    400        4900
17     Sunday  2019-02-24 00:00:00      1250       0    100        1150
18     Monday  2019-02-25 00:00:00      1100       0    100        1000
19    Tuesday  2019-02-26 00:00:00      1400       0    100        1300
20  Wednesday  2019-02-27 00:00:00       800       0    100         700
21   Thursday  2019-02-28 00:00:00      1200       0    100        1100
22     Friday  2019-03-01 00:00:00      1100       0    100        1000
23   Saturday  2019-03-02 00:00:00      1400       0    100        1300
24     Sunday  2019-03-03 00:00:00      1300      50    100        1150
25     Monday  2019-03-04 00:00:00      1200     100    100        1000
26    Tuesday  2019-03-05 00:00:00      1450      50    100        1300
27  Wednesday  2019-03-06 00:00:00      1250     150    100        1000
0    Thursday  2019-03-07 00:00:00      1100       0    100        1000
1      Friday  2019-03-08 00:00:00      1500     500    100         900
2    Saturday  2019-03-09 00:00:00      1350     200    100        1050
3      Sunday  2019-03-10 00:00:00      1250       0    100        1150
4      Monday  2019-03-11 00:00:00      1300      50    100        1150
5     Tuesday  2019-03-12 00:00:00      1650      50    150        1450
6   Wednesday  2019-03-13 00:00:00      1400     600    100         700
7    Thursday  2019-03-14 00:00:00      1250       0    100        1150
8      Friday  2019-03-15 00:00:00      1000       0    100         900

[1287 rows x 6 columns]

### Investigating our Dataset

In [19]:
df.head() #showcases the first five columns of our dataframe

0        day                 date netprofit expense bonus  grossprofit
1     Monday  2015-09-07 00:00:00      2050     100      0        1950
2    Tuesday  2015-09-08 00:00:00      1750      50      0        1700
3  Wednesday  2015-09-09 00:00:00       700       0      0         700
4   Thursday  2015-09-10 00:00:00      1100       0      0        1100
5     Friday  2015-09-11 00:00:00      1100       0      0        1100

In [20]:
df.tail() #showcases the last five columns of our dataframe

0        day                 date netprofit expense bonus  grossprofit
4     Monday  2019-03-11 00:00:00      1300      50    100        1150
5    Tuesday  2019-03-12 00:00:00      1650      50    150        1450
6  Wednesday  2019-03-13 00:00:00      1400     600    100         700
7   Thursday  2019-03-14 00:00:00      1250       0    100        1150
8     Friday  2019-03-15 00:00:00      1000       0    100         900

In [21]:
len(df) #shows how many data rows we have:

1287

In [23]:
df.dtypes #checks out the datatypes of the columns

0
day            object
date           object
netprofit      object
expense        object
bonus          object
grossprofit    object
dtype: object

Now we want to change our columns to (String, DateString, Float, Float, Float and Float)