<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#INTRODUCTION" data-toc-modified-id="INTRODUCTION-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>INTRODUCTION</a></span><ul class="toc-item"><li><span><a href="#BACKGROUND" data-toc-modified-id="BACKGROUND-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>BACKGROUND</a></span></li><li><span><a href="#OBJECTIVES" data-toc-modified-id="OBJECTIVES-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>OBJECTIVES</a></span></li><li><span><a href="#METHODOLOGY" data-toc-modified-id="METHODOLOGY-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>METHODOLOGY</a></span></li><li><span><a href="#LIBRARIES" data-toc-modified-id="LIBRARIES-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>LIBRARIES</a></span></li></ul></li><li><span><a href="#COMBINE-EXCEL-DATA-SHEETS" data-toc-modified-id="COMBINE-EXCEL-DATA-SHEETS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>COMBINE EXCEL DATA SHEETS</a></span><ul class="toc-item"><li><span><a href="#Importing-necessary-libraries" data-toc-modified-id="Importing-necessary-libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Importing necessary libraries</a></span></li><li><span><a href="#Combining-the-sheets" data-toc-modified-id="Combining-the-sheets-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Combining the sheets</a></span></li></ul></li><li><span><a href="#IMPORT-DATA-TO-PYTHON" data-toc-modified-id="IMPORT-DATA-TO-PYTHON-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>IMPORT DATA TO PYTHON</a></span><ul class="toc-item"><li><span><a href="#Importing-Data-from-an-Excel-sheet" data-toc-modified-id="Importing-Data-from-an-Excel-sheet-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Importing Data from an Excel sheet</a></span></li><li><span><a href="#Check-the-Datatypes" data-toc-modified-id="Check-the-Datatypes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Check the Datatypes</a></span></li></ul></li><li><span><a href="#Data-Engineering" data-toc-modified-id="Data-Engineering-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data Engineering</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Generate-more-columns-from-Date-datatype" data-toc-modified-id="Generate-more-columns-from-Date-datatype-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Generate more columns from Date datatype</a></span></li></ul></li></ul></li></ul></div>

# INTRODUCTION

## BACKGROUND

I started the Nikon 7D business in 2014 in an upcountry town of Kenya. I purposed to keep daily retail sales data for the past five years until i sold it in March 2019 for a hefty profit. In this notebook; I use this real life retail data to see how my business had being doing and utilize open source data science tools to understand retail dynamics. Further am interested in applying machine learning models to make predictions from the collected data. Why? Just for fun - but anybody can follow this workflow to analyse their business and make useful predictions.

## OBJECTIVES

1. Understand how much money i made for the whole period, what was the expenses and gross profit
2. Understand how much money i was making averagely every year, quarter, month, week, day
3. Which day of the week was i making the most money -- (so that if i was still running the business i would know when to increase resources) 
3. Which day of the week was i making the least money -- (so that if i was still running the business i would know when to reduce resource expenses)
4. Which Month did i make the most money -- increase resources for delivery
5. Which Month made the least money -- (so that if i was still running the business i would know when increase marketing)
6. Remove 2019 data and do predictions with different models Fast.ai, Pytorch and Prophet and compare the efficability of the various models

## METHODOLOGY

1. Data import from excel
    1. Combine all the sheets using excel or python scripts - Done with python and VB Macros
    2. Import that data using pandas excel functions
2. Data preparation and Munging
    1. Make more variabes from the available data using python
    2. Preliminary visualization of the data to help eliminate outliers
3. Data Visualization
4. Data Analysis to answer above questions
5. Machine learning for prediction of Tabular data using Fast.ai
6. Machine learning for prediction of Tabular data using Prophet
7. Machine learning for prediction of Tabular data using Pytorch
8. Machine learning for prediction of Tabular data using XGBOOST
8. Comparison of the best machine learning model

## LIBRARIES

I will use the following libraries and open source softwares:
* General Open source Distributions for Data Science
  - Ananconda Distribution
  - Python
* Python Data Analysis Libraries
  - Pandas
* Python Visualization Libraries
  - Matplotlib
  - Seaborn
* Python Machine Learning Libraries
  - Scikit Learn
  - XGBOOST Algorithms
  - Prophet
  - Fast.ai
  - Pytorch

# COMBINE EXCEL DATA SHEETS

I have 43 excel sheets in one workbook representing the 43 months i had collected data for the business, so in this section i will collate the 43 different sheets in an excel workbook to one file which i can then work with.

## Importing necessary libraries

In [1]:
# Here i will import the following libraries 

#pandas — (Python for Data Analysis Library) — has libraries that help you carry out data analysis
#numpy — (A library for playing around with numbers in Python)
#os — helps you dip your hands into the operating system of whatever computer you are using
#collections — are containers that are used to store collections of data
#csv — library that reads and writes tabular data in CSV format.
#basename — function found in the path method of the os library that extracts the base name or directory name conveniently

from __future__ import print_function, division

import pandas as pd 
import numpy as np
import os, collections, csv
from os.path  import basename

## Combining the sheets

In [2]:
# next create an empty dictionary with a variable name df
# initialize f which is a variable that is assigned the name of the original workbook with the many sheets that you want to combine
# store a variable numberOfSheets with the sheets you want to combine 
df = []


f = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/income.xlsx"
numberOfSheets = 43

#you can use VBScripts to rename your excel sheets to have consistent names

for i in range(1,numberOfSheets+1):    
     data = pd.read_excel(f, sheet_name = 'month'+str(i), header=None) 
     df.append(data)
    
#remember python is very strict on how you arrange your forward and back slashes so be aware of this: i am using windows here and hence the forward slashes

#determine the path where the final compiled file will go

final = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx"

# I then use the .concat() function from pandas to join/concatenate the sheets together into one

df = pd.concat(df)

# I finally write the final combined excel sheet to the path i had defined in final!

df.to_excel(final)

# IMPORT DATA TO PYTHON

## Importing Data from an Excel sheet

In [3]:
# I will save the path to my file as a python variable:
# Confirm that the file location has been saved


mydata ='C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

mydata

'C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

In [4]:
# I will then use pandas method .readexcel to read the data and convert it to a dataframe
# We will also pass a header variable to let pandas know our header row
# I will then check the contents of my dataframe by calling the df variable on the first five rows by calling df.head()



df = pd.read_excel( mydata, sheet_name='Sheet1', header=1)

df.head()

   0        day       date  netprofit  expense  bonus   grossprofit
0  1     Monday 2015-09-07       2050      100       0         1950
1  2    Tuesday 2015-09-08       1750       50       0         1700
2  3  Wednesday 2015-09-09        700        0       0          700
3  4   Thursday 2015-09-10       1100        0       0         1100
4  5     Friday 2015-09-11       1100        0       0         1100

In [5]:
df.tail() #showcases the last five columns of our dataframe

      0        day       date  netprofit  expense  bonus   grossprofit
1282  4     Monday 2019-03-11       1300       50     100         1150
1283  5    Tuesday 2019-03-12       1650       50     150         1450
1284  6  Wednesday 2019-03-13       1400      600     100          700
1285  7   Thursday 2019-03-14       1250        0     100         1150
1286  8     Friday 2019-03-15       1000        0     100          900

In [6]:
len(df) #shows how many data rows we have

1287

## Check the Datatypes

In [7]:
df.dtypes

0                       int64
day                    object
date           datetime64[ns]
netprofit               int64
expense                 int64
bonus                   int64
grossprofit             int64
dtype: object

It seems it has detected the datatypes of our columns so we are in luck, and now know that we are dealing with the correct pandas datatypes!

# Data Engineering

### Generate more columns from Date datatype