<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#BACKGROUND" data-toc-modified-id="BACKGROUND-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>BACKGROUND</a></span></li><li><span><a href="#OBJECTIVES" data-toc-modified-id="OBJECTIVES-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>OBJECTIVES</a></span></li><li><span><a href="#METHODOLOGY" data-toc-modified-id="METHODOLOGY-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>METHODOLOGY</a></span></li><li><span><a href="#IMPORT-DATA" data-toc-modified-id="IMPORT-DATA-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>IMPORT DATA</a></span><ul class="toc-item"><li><span><a href="#Importing-Data-from-an-Excel-sheet" data-toc-modified-id="Importing-Data-from-an-Excel-sheet-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Importing Data from an Excel sheet</a></span></li></ul></li></ul></div>

# BACKGROUND

I started the Nikon 7D business in 2014 in an upcountry town of Kenya. I purposed to keep daily retail sales data for the past five years until i sold it in March 2019 for a hefty profit. In this notebook; I use this real life retail data to see how my business had being doing and utilize open source data science tools to understand retail dynamics. Further am interested in applying machine learning models to make predictions from the collected data. Why? Just for fun - but anybody can follow this workflow to analyse their business and make useful predictions.

# OBJECTIVES

1. Understand how much money i made for the whole period, what was the expenses and gross profit
2. Understand how much money i was making averagely every year, quarter, month, week, day
3. Which day of the week was i making the most money -- (so that if i was still running the business i would know when to increase resources) 
3. Which day of the week was i making the least money -- (so that if i was still running the business i would know when to reduce resource expenses)
4. Which Month did i make the most money -- increase resources for delivery
5. Which Month made the least money -- (so that if i was still running the business i would know when increase marketing)
6. Remove 2019 data and do predictions with different models Fast.ai, Pytorch and Prophet and compare the efficability of the various models

# METHODOLOGY

1. Data import from excel
    1. Combine all the sheets using excel or python scripts - Done with python and VB Macros
    2. Import that data using pandas excel functions
2. Data preparation and Munging
    1. Make more variabes from the available data using python
    2. Preliminary visualization of the data to help eliminate outliers
3. Data Visualization
4. Data Analysis to answer above questions
5. Machine learning for prediction of Tabular data using Fast.ai
6. Machine learning for prediction of Tabular data using Prophet
7. Machine learning for prediction of Tabular data using Pytorch
8. Machine learning for prediction of Tabular data using XGBOOST
8. Comparison of the best machine learning model

# IMPORT DATA

## Importing Data from an Excel sheet

- Here i will read my data from the excel(xlsx) file that i have saved it in, by first importing pandas as follows:

In [1]:
import pandas as pd

- Then i will save the path to my file as a python variable:

In [6]:
mydata ='C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/mergedfileday.xlsx'

- Confirm that the file location has been saved

In [7]:
mydata

'C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/mergedfileday.xlsx'

- I will then use pandas method .readexcel to read the data and convert it to a dataframe

In [11]:
df = pd.read_excel( mydata , sheet_name='Sheet1')

- I will then check the contents of my dataframe by calling the df variable

In [12]:
df

            day       date  grossamount  expenses  bonus  netamount
0        Monday 2015-09-07         2050       100      0       1950
1       Tuesday 2015-09-08         1750        50      0       1700
2     Wednesday 2015-09-09          700         0      0        700
3      Thursday 2015-09-10         1100         0      0       1100
4        Friday 2015-09-11         1100         0      0       1100
5      Saturday 2015-09-12          750         0      0        750
6        Sunday 2015-09-13         4600       200      0       4400
7        Monday 2015-09-14         1250        50      0       1200
8       Tuesday 2015-09-15         2150       100      0       2050
9     Wednesday 2015-09-16         1700       500      0       1200
10     Thursday 2015-09-17         4900       300      0       4600
11       Friday 2015-09-18         1550        50      0       1500
12     Saturday 2015-09-19          200         0      0        200
13       Sunday 2015-09-20          950       100      0        850
14       Monday 2015-09-21          600         0      0        600
15      Tuesday 2015-09-22          550         0      0        550
16    Wednesday 2015-09-23         1000         0      0       1000
17     Thursday 2015-09-24          400         0      0        400
18       Friday 2015-09-25          850         0      0        850
19     Saturday 2015-09-26         1380       280      0       1100
20       Sunday 2015-09-27          950       100      0        850
21       Monday 2015-09-28         1765       265      0       1500
22      Tuesday 2015-09-29          600         0      0        600
23    Wednesday 2015-09-30         1550        50      0       1500
24     Thursday 2015-10-01          600         0      0        600
25       Friday 2015-10-02         1000         0      0       1000
26     Saturday 2015-10-03          600         0      0        600
27       Sunday 2015-10-04          900         0      0        900
28       Monday 2015-10-05         2700       100      0       2600
29      Tuesday 2015-10-06          300         0      0        300
...         ...        ...          ...       ...    ...        ...
1257   Thursday 2019-02-14         1200         0    100       1100
1258     Friday 2019-02-15         1100         0    100       1000
1259   Saturday 2019-02-16         1250         0    100       1150
1260     Sunday 2019-02-17         1250        50    100       1100
1261     Monday 2019-02-18         1300         0    100       1200
1262    Tuesday 2019-02-19         1200        50    100       1050
1263  Wednesday 2019-02-20         1950       450    100       1400
1264   Thursday 2019-02-21         1100         0    100       1000
1265     Friday 2019-02-22         1250         0    100       1150
1266   Saturday 2019-02-23         5900       600    400       4900
1267     Sunday 2019-02-24         1250         0    100       1150
1268     Monday 2019-02-25         1100         0    100       1000
1269    Tuesday 2019-02-26         1400         0    100       1300
1270  Wednesday 2019-02-27          800         0    100        700
1271   Thursday 2019-02-28         1200         0    100       1100
1272     Friday 2019-03-01         1100         0    100       1000
1273   Saturday 2019-03-02         1400         0    100       1300
1274     Sunday 2019-03-03         1300        50    100       1150
1275     Monday 2019-03-04         1200       100    100       1000
1276    Tuesday 2019-03-05         1450        50    100       1300
1277  Wednesday 2019-03-06         1250       150    100       1000
1278   Thursday 2019-03-07         1100         0    100       1000
1279     Friday 2019-03-08         1500       500    100        900
1280   Saturday 2019-03-09         1350       200    100       1050
1281     Sunday 2019-03-10         1250         0    100       1150
1282     Monday 2019-03-11         1300        50    100       1150
1283    Tuesday 2019-03-12         1650        50    150       1450
1284  Wednesday 2019-03-13         1400       600    100        700
1285   Thursday 2019-03-14         1250         0    100       1150
1286     Friday 2019-03-15         1000         0    100        900

[1287 rows x 6 columns]