<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#INTRODUCTION" data-toc-modified-id="INTRODUCTION-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>INTRODUCTION</a></span><ul class="toc-item"><li><span><a href="#BACKGROUND" data-toc-modified-id="BACKGROUND-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>BACKGROUND</a></span></li><li><span><a href="#OBJECTIVES" data-toc-modified-id="OBJECTIVES-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>OBJECTIVES</a></span></li><li><span><a href="#METHODOLOGY" data-toc-modified-id="METHODOLOGY-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>METHODOLOGY</a></span></li><li><span><a href="#LIBRARIES" data-toc-modified-id="LIBRARIES-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>LIBRARIES</a></span></li></ul></li><li><span><a href="#COMBINE-EXCEL-DATA-SHEETS" data-toc-modified-id="COMBINE-EXCEL-DATA-SHEETS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>COMBINE EXCEL DATA SHEETS</a></span><ul class="toc-item"><li><span><a href="#Importing-necessary-libraries" data-toc-modified-id="Importing-necessary-libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Importing necessary libraries</a></span></li><li><span><a href="#Combining-the-sheets" data-toc-modified-id="Combining-the-sheets-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Combining the sheets</a></span></li></ul></li><li><span><a href="#IMPORT-DATA-TO-PYTHON" data-toc-modified-id="IMPORT-DATA-TO-PYTHON-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>IMPORT DATA TO PYTHON</a></span><ul class="toc-item"><li><span><a href="#Importing-Data-from-an-Excel-sheet" data-toc-modified-id="Importing-Data-from-an-Excel-sheet-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Importing Data from an Excel sheet</a></span></li><li><span><a href="#Check-the-Datatypes" data-toc-modified-id="Check-the-Datatypes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Check the Datatypes</a></span></li></ul></li><li><span><a href="#DATA-ENGINEERING" data-toc-modified-id="DATA-ENGINEERING-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DATA ENGINEERING</a></span><ul class="toc-item"><li><span><a href="#Generate-more-columns-from-Existing-DataFrame" data-toc-modified-id="Generate-more-columns-from-Existing-DataFrame-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Generate more columns from Existing DataFrame</a></span><ul class="toc-item"><li><span><a href="#Add-Other-Columns(Year,-Month,-Day)-from-Date-Column" data-toc-modified-id="Add-Other-Columns(Year,-Month,-Day)-from-Date-Column-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Add Other Columns(Year, Month, Day) from Date Column</a></span></li><li><span><a href="#Add-a-Column-of-Quarter-of-the-Year" data-toc-modified-id="Add-a-Column-of-Quarter-of-the-Year-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Add a Column of Quarter of the Year</a></span></li><li><span><a href="#Add-a-Column-of-Beginnng-of-Month(BOM),Middle-of-Month(MOM)-or-End-of-Month-(EOM)" data-toc-modified-id="Add-a-Column-of-Beginnng-of-Month(BOM),Middle-of-Month(MOM)-or-End-of-Month-(EOM)-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Add a Column of Beginnng of Month(BOM),Middle of Month(MOM) or End of Month (EOM)</a></span></li><li><span><a href="#Add-a-column-of-weekend-or-not" data-toc-modified-id="Add-a-column-of-weekend-or-not-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>Add a column of weekend or not</a></span></li><li><span><a href="#Add-a-Column-of-Election-Year" data-toc-modified-id="Add-a-Column-of-Election-Year-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span>Add a Column of Election Year</a></span></li><li><span><a href="#Add-a-column-of-profitability-or-not" data-toc-modified-id="Add-a-column-of-profitability-or-not-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span>Add a column of profitability or not</a></span></li><li><span><a href="#Add-a-Column-of-Holiday" data-toc-modified-id="Add-a-Column-of-Holiday-4.1.7"><span class="toc-item-num">4.1.7&nbsp;&nbsp;</span>Add a Column of Holiday</a></span></li><li><span><a href="#Add-a-Column-of-Weather(To-be-done)" data-toc-modified-id="Add-a-Column-of-Weather(To-be-done)-4.1.8"><span class="toc-item-num">4.1.8&nbsp;&nbsp;</span>Add a Column of Weather(To be done)</a></span></li></ul></li><li><span><a href="#Check-data-types" data-toc-modified-id="Check-data-types-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Check data types</a></span></li></ul></li><li><span><a href="#DATA-VISUALIZATIONS" data-toc-modified-id="DATA-VISUALIZATIONS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>DATA VISUALIZATIONS</a></span></li></ul></div>

# INTRODUCTION

## BACKGROUND

I started the Nikon 7D business in 2014 in an upcountry town of Kenya. I purposed to keep daily retail sales data for the past five years until i sold it in March 2019 for a hefty profit. In this notebook; I use this real life retail data to see how my business had being doing and utilize open source data science tools to understand retail dynamics. Further am interested in applying machine learning models to make predictions from the collected data. Why? Just for fun - but anybody can follow this workflow to analyse their business and make useful predictions.

## OBJECTIVES

1. Understand how much money i made for the whole period, what was the expenses and gross profit
2. Understand how much money i was making averagely every year, quarter, month, week, day
3. Which day of the week was i making the most money -- (so that if i was still running the business i would know when to increase resources) 
3. Which day of the week was i making the least money -- (so that if i was still running the business i would know when to reduce resource expenses)
4. Which Month did i make the most money -- increase resources for delivery
5. Which Month made the least money -- (so that if i was still running the business i would know when increase marketing)
6. Remove 2019 data and do predictions with different models Fast.ai, Pytorch and Prophet and compare the efficability of the various models

## METHODOLOGY

1. Data import from excel
    1. Combine all the sheets using excel or python scripts - Done with python and VB Macros
    2. Import that data using pandas excel functions
2. Data preparation and Munging
    1. Make more variabes from the available data using python
    2. Preliminary visualization of the data to help eliminate outliers
3. Data Visualization
4. Data Analysis to answer above questions
5. Machine learning for prediction of Tabular data using Fast.ai
6. Machine learning for prediction of Tabular data using Prophet
7. Machine learning for prediction of Tabular data using Pytorch
8. Machine learning for prediction of Tabular data using XGBOOST
8. Comparison of the best machine learning model

## LIBRARIES

I will use the following libraries and open source softwares:
* General Open source Distributions for Data Science
  - Ananconda Distribution
  - Python
* Python Data Analysis Libraries
  - Pandas
* Python Visualization Libraries
  - Matplotlib
  - Seaborn
* Python Machine Learning Libraries
  - Scikit Learn
  - XGBOOST Algorithms
  - Prophet
  - Fast.ai
  - Pytorch

# COMBINE EXCEL DATA SHEETS

I have 43 excel sheets in one workbook representing the 43 months i had collected data for the business, so in this section i will collate the 43 different sheets in an excel workbook to one file which i can then work with.

## Importing necessary libraries

In [1]:
# Here i will import the following libraries 

#pandas — (Python for Data Analysis Library) — has libraries that help you carry out data analysis
#numpy — (A library for playing around with numbers in Python)
#os — helps you dip your hands into the operating system of whatever computer you are using
#collections — are containers that are used to store collections of data
#csv — library that reads and writes tabular data in CSV format.
#basename — function found in the path method of the os library that extracts the base name or directory name conveniently

from __future__ import print_function, division

import pandas as pd 
import numpy as np
import os, collections, csv
from os.path  import basename

## Combining the sheets

In [2]:
# next create an empty dictionary with a variable name df
# initialize f which is a variable that is assigned the name of the original workbook with the many sheets that you want to combine
# store a variable numberOfSheets with the sheets you want to combine 
df = []


f = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/income.xlsx"
numberOfSheets = 43

#you can use VBScripts to rename your excel sheets to have consistent names

for i in range(1,numberOfSheets+1):    
     data = pd.read_excel(f, sheet_name = 'month'+str(i), header=None) 
     df.append(data)
    
#remember python is very strict on how you arrange your forward and back slashes so be aware of this: i am using windows here and hence the forward slashes

#determine the path where the final compiled file will go

final = "C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx"

# I then use the .concat() function from pandas to join/concatenate the sheets together into one

df = pd.concat(df)

# I finally write the final combined excel sheet to the path i had defined in final!

df.to_excel(final)

# IMPORT DATA TO PYTHON

## Importing Data from an Excel sheet

In [3]:
# I will save the path to my file as a python variable:
# Confirm that the file location has been saved


mydata ='C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

mydata

'C:/Users/Njoroge Wa Chege/Desktop/7D DATA PROJECT/python test/mergedfile.xlsx'

In [4]:
# I will then use pandas method .readexcel to read the data and convert it to a dataframe
# We will also pass a header variable to let pandas know our header row
# I will then check the contents of my dataframe by calling the df variable on the first five rows by calling df.head()



df = pd.read_excel( mydata, sheet_name='Sheet1', header=1)

df.head()

   0        day       date  netprofit  expense  bonus   grossprofit
0  1     Monday 2015-09-07       2050      100       0         1950
1  2    Tuesday 2015-09-08       1750       50       0         1700
2  3  Wednesday 2015-09-09        700        0       0          700
3  4   Thursday 2015-09-10       1100        0       0         1100
4  5     Friday 2015-09-11       1100        0       0         1100

In [5]:
df.tail() #showcases the last five columns of our dataframe

      0        day       date  netprofit  expense  bonus   grossprofit
1282  4     Monday 2019-03-11       1300       50     100         1150
1283  5    Tuesday 2019-03-12       1650       50     150         1450
1284  6  Wednesday 2019-03-13       1400      600     100          700
1285  7   Thursday 2019-03-14       1250        0     100         1150
1286  8     Friday 2019-03-15       1000        0     100          900

In [6]:
len(df) #shows how many data rows we have

1287

In [7]:
df.describe()

                 0     netprofit      expense       bonus   grossprofit
count  1287.000000   1287.000000  1287.000000  1287.000000  1287.000000
mean     14.674437   1419.063714    89.347319    97.342657  1235.442890
std       8.820686    966.512524   235.153571    63.725158   785.762202
min       0.000000      0.000000     0.000000     0.000000     0.000000
25%       7.000000    950.000000     0.000000   100.000000   800.000000
50%      15.000000   1150.000000     0.000000   100.000000  1000.000000
75%      22.000000   1550.000000    50.000000   100.000000  1400.000000
max      30.000000  10580.000000  3150.000000  1000.000000  8580.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1287 entries, 0 to 1286
Data columns (total 7 columns):
0              1287 non-null int64
day            1287 non-null object
date           1287 non-null datetime64[ns]
netprofit      1287 non-null int64
expense        1287 non-null int64
bonus          1287 non-null int64
grossprofit    1287 non-null int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 70.5+ KB

## Check the Datatypes

In [9]:
df.dtypes

0                       int64
day                    object
date           datetime64[ns]
netprofit               int64
expense                 int64
bonus                   int64
grossprofit             int64
dtype: object

It seems it has detected the datatypes of our columns so we are in luck, and now know that we are dealing with the correct pandas datatypes!

# DATA ENGINEERING

## Generate more columns from Existing DataFrame

### Add Other Columns(Year, Month, Day) from Date Column

In [10]:

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['daynumber'] = df['date'].dt.day


df

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6
...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15

### Add a Column of Quarter of the Year

In [11]:
bins = [0, 4, 7, 10, 12]
names = ['1ST QUARTER', '2ND QUARTER', '3RD QUARTER','4TH QUARTER']

df['yearquarter'] = pd.cut(df.month, bins, labels=names)
df

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13,3RD QUARTER
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17,3RD QUARTER
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19,3RD QUARTER
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21,3RD QUARTER
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22,3RD QUARTER
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24,3RD QUARTER
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29,3RD QUARTER
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1,3RD QUARTER
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3,3RD QUARTER
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6,3RD QUARTER
...,...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23,1ST QUARTER
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER

### Add a Column of Beginnng of Month(BOM),Middle of Month(MOM) or End of Month (EOM)

In [12]:

bins = [0, 14, 20, 30]
names = ['BOM', 'MOM', 'EOM']

df['monthcorner'] = pd.cut(df.daynumber, bins, labels=names)
df

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER,BOM
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13,3RD QUARTER,BOM
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER,BOM
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER,MOM
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER,MOM
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17,3RD QUARTER,MOM
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER,MOM
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19,3RD QUARTER,MOM
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER,MOM
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21,3RD QUARTER,EOM
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22,3RD QUARTER,EOM
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER,EOM
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24,3RD QUARTER,EOM
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER,EOM
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER,EOM
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER,EOM
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER,EOM
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29,3RD QUARTER,EOM
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER,EOM
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1,3RD QUARTER,BOM
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER,BOM
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3,3RD QUARTER,BOM
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER,BOM
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER,BOM
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6,3RD QUARTER,BOM
...,...,...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER,BOM
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER,MOM
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER,MOM
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER,MOM
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER,MOM
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER,MOM
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER,MOM
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER,EOM
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER,EOM
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23,1ST QUARTER,EOM
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER,EOM
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER,EOM
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER,EOM
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER,EOM
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER,EOM
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER,BOM
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER,BOM
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER,BOM
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER,BOM
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER,BOM
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER,BOM
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER,BOM
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER,BOM
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER,BOM
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER,BOM
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER,BOM
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER,BOM
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER,BOM
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER,BOM
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER,MOM

### Add a column of weekend or not

In [13]:
import datetime

temp = pd.DatetimeIndex(df['date'])
df['dateindex'] = temp.weekday

df['weekend'] = np.where(df['dateindex']>=5, True, False)
df

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner,dateindex,weekend
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM,0,False
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM,1,False
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM,2,False
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM,3,False
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM,4,False
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER,BOM,5,True
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13,3RD QUARTER,BOM,6,True
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER,BOM,0,False
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER,MOM,1,False
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER,MOM,2,False
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17,3RD QUARTER,MOM,3,False
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER,MOM,4,False
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19,3RD QUARTER,MOM,5,True
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER,MOM,6,True
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21,3RD QUARTER,EOM,0,False
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22,3RD QUARTER,EOM,1,False
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER,EOM,2,False
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24,3RD QUARTER,EOM,3,False
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER,EOM,4,False
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER,EOM,5,True
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER,EOM,6,True
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER,EOM,0,False
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29,3RD QUARTER,EOM,1,False
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER,EOM,2,False
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1,3RD QUARTER,BOM,3,False
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER,BOM,4,False
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3,3RD QUARTER,BOM,5,True
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER,BOM,6,True
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER,BOM,0,False
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6,3RD QUARTER,BOM,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER,BOM,3,False
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER,MOM,4,False
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER,MOM,5,True
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER,MOM,6,True
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER,MOM,0,False
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER,MOM,1,False
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER,MOM,2,False
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER,EOM,3,False
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER,EOM,4,False
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23,1ST QUARTER,EOM,5,True
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER,EOM,6,True
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER,EOM,0,False
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER,EOM,1,False
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER,EOM,2,False
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER,EOM,3,False
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER,BOM,4,False
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER,BOM,5,True
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER,BOM,6,True
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER,BOM,0,False
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER,BOM,1,False
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER,BOM,2,False
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER,BOM,3,False
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER,BOM,4,False
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER,BOM,5,True
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER,BOM,6,True
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER,BOM,0,False
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER,BOM,1,False
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER,BOM,2,False
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER,BOM,3,False
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER,MOM,4,False

### Add a Column of Election Year

In [14]:

df['electionyear'] = np.where(df['dateindex']==2017, True, False)


df

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner,dateindex,weekend,electionyear
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM,0,False,False
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM,1,False,False
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM,2,False,False
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM,3,False,False
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM,4,False,False
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER,BOM,5,True,False
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13,3RD QUARTER,BOM,6,True,False
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER,BOM,0,False,False
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER,MOM,1,False,False
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER,MOM,2,False,False
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17,3RD QUARTER,MOM,3,False,False
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER,MOM,4,False,False
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19,3RD QUARTER,MOM,5,True,False
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER,MOM,6,True,False
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21,3RD QUARTER,EOM,0,False,False
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22,3RD QUARTER,EOM,1,False,False
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER,EOM,2,False,False
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24,3RD QUARTER,EOM,3,False,False
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER,EOM,4,False,False
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER,EOM,5,True,False
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER,EOM,6,True,False
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER,EOM,0,False,False
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29,3RD QUARTER,EOM,1,False,False
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER,EOM,2,False,False
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1,3RD QUARTER,BOM,3,False,False
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER,BOM,4,False,False
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3,3RD QUARTER,BOM,5,True,False
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER,BOM,6,True,False
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER,BOM,0,False,False
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6,3RD QUARTER,BOM,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER,BOM,3,False,False
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER,MOM,4,False,False
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER,MOM,5,True,False
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER,MOM,6,True,False
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER,MOM,0,False,False
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER,MOM,1,False,False
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER,MOM,2,False,False
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER,EOM,3,False,False
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER,EOM,4,False,False
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23,1ST QUARTER,EOM,5,True,False
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER,EOM,6,True,False
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER,EOM,0,False,False
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER,EOM,1,False,False
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER,EOM,2,False,False
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER,EOM,3,False,False
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER,BOM,4,False,False
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER,BOM,5,True,False
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER,BOM,6,True,False
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER,BOM,0,False,False
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER,BOM,1,False,False
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER,BOM,2,False,False
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER,BOM,3,False,False
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER,BOM,4,False,False
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER,BOM,5,True,False
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER,BOM,6,True,False
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER,BOM,0,False,False
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER,BOM,1,False,False
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER,BOM,2,False,False
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER,BOM,3,False,False
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER,MOM,4,False,False

### Add a column of profitability or not

In [15]:
#here i use numpy to add a new column that determines if the day was profitable or not


df['profitable'] = np.where(df['grossprofit']>=700, True, False)

# here i print out my new dataframe
df.head()

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner,dateindex,weekend,electionyear,profitable
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM,0,False,False,True
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM,1,False,False,True
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM,2,False,False,True
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM,3,False,False,True
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM,4,False,False,True

### Add a Column of Holiday

In [18]:
kenyaholiday = []

for row in df.date:
    if row in ['2015-01-01','2016-01-01','2017-01-01','2018-01-01', '2019-01-01', #new year
              '2015-04-19','2016-04-19','2017-04-19','2018-04-19', '2019-04-19',  #goodfriday
              '2015-04-21','2016-04-21','2017-04-21','2018-04-21', '2019-04-21', #eastersunday
              '2015-04-22','2016-04-22','2017-04-22','2018-04-22', '2019-04-22', #eastermonday
              '2015-05-01','2016-05-01','2017-05-01','2018-05-01', '2019-05-01', #laborday
               '2015-06-01','2016-06-01','2017-06-01','2018-06-01', '2019-06-01', #madarakaday
               '2015-10-10','2016-10-10','2017-10-10','2018-10-10', '2019-10-10', #moiday
               '2015-10-20','2016-10-20','2017-10-20','2018-10-20', '2019-10-20', #mashujaaday
               '2015-12-12','2016-12-12','2017-12-12','2018-12-12', '2019-12-12', #jammhuriday
               '2015-12-24','2016-12-24','2017-12-24','2018-12-24', '2019-12-24', #christmaseve
               '2015-12-25','2016-12-25','2017-12-25','2018-12-25', '2019-12-25', #christmas
               '2015-12-26','2016-12-26','2017-12-26','2018-12-26', '2019-12-26', #boxing day
               '2015-12-31','2016-12-31','2017-12-31','2018-12-31', '2019-12-31', #newyearseve           

               
              ]:
        kenyaholiday.append('holiday')
    else:
        kenyaholiday.append('notholiday')

df['kenyaholiday'] = kenyaholiday

df


#todo: must right opensource library for Kenyan Holidays in free time

,0,day,date,netprofit,expense,bonus,grossprofit,year,month,daynumber,yearquarter,monthcorner,dateindex,weekend,electionyear,profitable,kenyaholiday
0,1,Monday,2015-09-07,2050,100,0,1950,2015,9,7,3RD QUARTER,BOM,0,False,False,True,notholiday
1,2,Tuesday,2015-09-08,1750,50,0,1700,2015,9,8,3RD QUARTER,BOM,1,False,False,True,notholiday
2,3,Wednesday,2015-09-09,700,0,0,700,2015,9,9,3RD QUARTER,BOM,2,False,False,True,notholiday
3,4,Thursday,2015-09-10,1100,0,0,1100,2015,9,10,3RD QUARTER,BOM,3,False,False,True,notholiday
4,5,Friday,2015-09-11,1100,0,0,1100,2015,9,11,3RD QUARTER,BOM,4,False,False,True,notholiday
5,6,Saturday,2015-09-12,750,0,0,750,2015,9,12,3RD QUARTER,BOM,5,True,False,True,notholiday
6,7,Sunday,2015-09-13,4600,200,0,4400,2015,9,13,3RD QUARTER,BOM,6,True,False,True,notholiday
7,8,Monday,2015-09-14,1250,50,0,1200,2015,9,14,3RD QUARTER,BOM,0,False,False,True,notholiday
8,9,Tuesday,2015-09-15,2150,100,0,2050,2015,9,15,3RD QUARTER,MOM,1,False,False,True,notholiday
9,10,Wednesday,2015-09-16,1700,500,0,1200,2015,9,16,3RD QUARTER,MOM,2,False,False,True,notholiday
10,11,Thursday,2015-09-17,4900,300,0,4600,2015,9,17,3RD QUARTER,MOM,3,False,False,True,notholiday
11,12,Friday,2015-09-18,1550,50,0,1500,2015,9,18,3RD QUARTER,MOM,4,False,False,True,notholiday
12,13,Saturday,2015-09-19,200,0,0,200,2015,9,19,3RD QUARTER,MOM,5,True,False,False,notholiday
13,14,Sunday,2015-09-20,950,100,0,850,2015,9,20,3RD QUARTER,MOM,6,True,False,True,notholiday
14,15,Monday,2015-09-21,600,0,0,600,2015,9,21,3RD QUARTER,EOM,0,False,False,False,notholiday
15,16,Tuesday,2015-09-22,550,0,0,550,2015,9,22,3RD QUARTER,EOM,1,False,False,False,notholiday
16,17,Wednesday,2015-09-23,1000,0,0,1000,2015,9,23,3RD QUARTER,EOM,2,False,False,True,notholiday
17,18,Thursday,2015-09-24,400,0,0,400,2015,9,24,3RD QUARTER,EOM,3,False,False,False,notholiday
18,19,Friday,2015-09-25,850,0,0,850,2015,9,25,3RD QUARTER,EOM,4,False,False,True,notholiday
19,20,Saturday,2015-09-26,1380,280,0,1100,2015,9,26,3RD QUARTER,EOM,5,True,False,True,notholiday
20,21,Sunday,2015-09-27,950,100,0,850,2015,9,27,3RD QUARTER,EOM,6,True,False,True,notholiday
21,22,Monday,2015-09-28,1765,265,0,1500,2015,9,28,3RD QUARTER,EOM,0,False,False,True,notholiday
22,23,Tuesday,2015-09-29,600,0,0,600,2015,9,29,3RD QUARTER,EOM,1,False,False,False,notholiday
23,24,Wednesday,2015-09-30,1550,50,0,1500,2015,9,30,3RD QUARTER,EOM,2,False,False,True,notholiday
24,25,Thursday,2015-10-01,600,0,0,600,2015,10,1,3RD QUARTER,BOM,3,False,False,False,notholiday
25,26,Friday,2015-10-02,1000,0,0,1000,2015,10,2,3RD QUARTER,BOM,4,False,False,True,notholiday
26,27,Saturday,2015-10-03,600,0,0,600,2015,10,3,3RD QUARTER,BOM,5,True,False,False,notholiday
27,28,Sunday,2015-10-04,900,0,0,900,2015,10,4,3RD QUARTER,BOM,6,True,False,True,notholiday
28,29,Monday,2015-10-05,2700,100,0,2600,2015,10,5,3RD QUARTER,BOM,0,False,False,True,notholiday
29,30,Tuesday,2015-10-06,300,0,0,300,2015,10,6,3RD QUARTER,BOM,1,False,False,False,notholiday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,7,Thursday,2019-02-14,1200,0,100,1100,2019,2,14,1ST QUARTER,BOM,3,False,False,True,notholiday
1258,8,Friday,2019-02-15,1100,0,100,1000,2019,2,15,1ST QUARTER,MOM,4,False,False,True,notholiday
1259,9,Saturday,2019-02-16,1250,0,100,1150,2019,2,16,1ST QUARTER,MOM,5,True,False,True,notholiday
1260,10,Sunday,2019-02-17,1250,50,100,1100,2019,2,17,1ST QUARTER,MOM,6,True,False,True,notholiday
1261,11,Monday,2019-02-18,1300,0,100,1200,2019,2,18,1ST QUARTER,MOM,0,False,False,True,notholiday
1262,12,Tuesday,2019-02-19,1200,50,100,1050,2019,2,19,1ST QUARTER,MOM,1,False,False,True,notholiday
1263,13,Wednesday,2019-02-20,1950,450,100,1400,2019,2,20,1ST QUARTER,MOM,2,False,False,True,notholiday
1264,14,Thursday,2019-02-21,1100,0,100,1000,2019,2,21,1ST QUARTER,EOM,3,False,False,True,notholiday
1265,15,Friday,2019-02-22,1250,0,100,1150,2019,2,22,1ST QUARTER,EOM,4,False,False,True,notholiday
1266,16,Saturday,2019-02-23,5900,600,400,4900,2019,2,23,1ST QUARTER,EOM,5,True,False,True,notholiday
1267,17,Sunday,2019-02-24,1250,0,100,1150,2019,2,24,1ST QUARTER,EOM,6,True,False,True,notholiday
1268,18,Monday,2019-02-25,1100,0,100,1000,2019,2,25,1ST QUARTER,EOM,0,False,False,True,notholiday
1269,19,Tuesday,2019-02-26,1400,0,100,1300,2019,2,26,1ST QUARTER,EOM,1,False,False,True,notholiday
1270,20,Wednesday,2019-02-27,800,0,100,700,2019,2,27,1ST QUARTER,EOM,2,False,False,True,notholiday
1271,21,Thursday,2019-02-28,1200,0,100,1100,2019,2,28,1ST QUARTER,EOM,3,False,False,True,notholiday
1272,22,Friday,2019-03-01,1100,0,100,1000,2019,3,1,1ST QUARTER,BOM,4,False,False,True,notholiday
1273,23,Saturday,2019-03-02,1400,0,100,1300,2019,3,2,1ST QUARTER,BOM,5,True,False,True,notholiday
1274,24,Sunday,2019-03-03,1300,50,100,1150,2019,3,3,1ST QUARTER,BOM,6,True,False,True,notholiday
1275,25,Monday,2019-03-04,1200,100,100,1000,2019,3,4,1ST QUARTER,BOM,0,False,False,True,notholiday
1276,26,Tuesday,2019-03-05,1450,50,100,1300,2019,3,5,1ST QUARTER,BOM,1,False,False,True,notholiday
1277,27,Wednesday,2019-03-06,1250,150,100,1000,2019,3,6,1ST QUARTER,BOM,2,False,False,True,notholiday
1278,0,Thursday,2019-03-07,1100,0,100,1000,2019,3,7,1ST QUARTER,BOM,3,False,False,True,notholiday
1279,1,Friday,2019-03-08,1500,500,100,900,2019,3,8,1ST QUARTER,BOM,4,False,False,True,notholiday
1280,2,Saturday,2019-03-09,1350,200,100,1050,2019,3,9,1ST QUARTER,BOM,5,True,False,True,notholiday
1281,3,Sunday,2019-03-10,1250,0,100,1150,2019,3,10,1ST QUARTER,BOM,6,True,False,True,notholiday
1282,4,Monday,2019-03-11,1300,50,100,1150,2019,3,11,1ST QUARTER,BOM,0,False,False,True,notholiday
1283,5,Tuesday,2019-03-12,1650,50,150,1450,2019,3,12,1ST QUARTER,BOM,1,False,False,True,notholiday
1284,6,Wednesday,2019-03-13,1400,600,100,700,2019,3,13,1ST QUARTER,BOM,2,False,False,True,notholiday
1285,7,Thursday,2019-03-14,1250,0,100,1150,2019,3,14,1ST QUARTER,BOM,3,False,False,True,notholiday
1286,8,Friday,2019-03-15,1000,0,100,900,2019,3,15,1ST QUARTER,MOM,4,False,False,True,notholiday

### Add a Column of Weather(To be done)

## Check data types

In [19]:
df.dtypes

# all our data looks to be in the right datatype(16 columns) and we can now start visualizing in the next chapter

0                        int64
day                     object
date            datetime64[ns]
netprofit                int64
expense                  int64
bonus                    int64
grossprofit              int64
year                     int64
month                    int64
daynumber                int64
yearquarter           category
monthcorner           category
dateindex                int64
weekend                   bool
electionyear              bool
profitable                bool
kenyaholiday            object
dtype: object

# DATA VISUALIZATIONS